h1 {
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Marrow', Arial, sans-serif;
    font-size: 270%;
    text-align: center;
}

h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

hr{
    color: black;
    font-weight: lighter;
    border-color: #333;
}

